@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

:root {
  --background: #2e2e2e;
  --foreground: white;
  --labeltext: lightgray;
  --divider-color: #ddd;
  --input-bg: rgba(255, 255, 255, 0.45);
  --line-color: rgba(255, 255, 255, 0.5);
  --myPageSticky-color: rgb(80, 80, 80);
  --active-color: white;
  --title-color: rgb(146, 146, 146);
  --post-color: rgb(206, 206, 206);
  --btn-color: rgba(255, 255, 255, 0.982);
  --font-color: white;
  --btn-text-color: black;
}

.light-mode {
  --btn-color: rgb(242, 243, 235);
  --background: #ffffff;
  --foreground: #171717;
  --labeltext: #171717;
  --divider-color: #171717;
  --input-bg: rgba(255, 252, 252, 0.3);
  --line-color: rgba(0, 0, 0, 0.5);
  --myPageSticky-color: rgb(173, 173, 173);
  --active-color: rgb(56, 56, 56);
  --title-color: rgb(100, 100, 100);
  --post-color: rgb(114, 114, 114);
  --font-color: black;
  --btn-text-color: black;
}
Button {
  background-color: var(--btn-color) !important;
  color: var(--btn-text-color) !important;
}

button:hover,
button:focus {
  background-color: var(--btn-color) !important;
  opacity: 0.8;
  color: var(--font-color) !important;
}
.GlitchFont {
  font-family: "Black Han Sans", sans-serif;
  color: #262626;
  position: relative;
}
.loginForm-container .loginForm-container1 {
  background-color: var(--background);
}
.loginForm-container input,
.loginForm-container input ::placeholder,
.loginForm-container1 input,
.loginForm-container1 input ::placeholder {
  background-color: var(--input-bg) !important;
  color: var(--font-color) !important;
}
input::placeholder {
  color: var(--font-color) !important;
  opacity: 0.7;
}
.loginform-socialtext,
.loginForm-findDiv {
  color: var(--font-color);
}
.loginForm-container input:hover,
.loginForm-container input:focus,
.loginForm-container1 input:hover,
.loginForm-container1 input:focus {
  background-color: var(--input-bg) !important;
  color: var(--font-color) !important;
}
html,
body {
  max-width: 100vw;
  user-select: none;
  -webkit-user-drag: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* scrollbar-width: thin; */
  /* scrollbar-color: black transparent; */
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrap {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .main-wrap {
    margin-top: 30px;
  }
}

/* 로그인 폼 */
.divider hr {
  background-color: var(--divider-color);
}

.join-div label {
  color: var(--labeltext);
}

.loginForm-textDiv,
.loginForm-idDiv,
.PwFind-idDiv,
.IdFind-idDiv,
.divider span {
  color: var(--font-color) !important;
}

.loginForm-findDiv,
.PwFind-findDiv,
.IdFind-findDiv {
  color: var(--font-color);
}

/* 내 계정 */
.line {
  background-color: var(--line-color);
}

.myPageSticky {
  color: var(--myPageSticky-color);
}

.active {
  color: var(--active-color);
}

.title,
.cursor:hover:not(.active) {
  color: var(--title-color);
}

.inputContainer {
  background-color: var(--input-bg);
}
.joinform-input {
  background-color: var(--input-bg);
}
.inputContainer h3 {
  color: var(--background);
}

/* 글 작성하기 */
.writeContent label {
  color: var(--foreground);
}

/* 내 게시글 */
.postsInfo {
  background-color: var(--post-color);
  color: var(--background);
}

.postText {
  color: var(--background);
}

.postLine {
  border-left: var(--background);
}

.circle {
  background-color: var(--background);
}

/* 관심 상품 */
.product-info {
  background-color: var(--foreground);
  color: var(--background);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 모달창 */
.ant-modal-wrap {
  height: 100vh !important;
}

.ant-modal-centered {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
