@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

.GlitchFont {
  font-family: "Black Han Sans", sans-serif;
  color: #262626;
  /* text-shadow: 2px 2px 0 #ff0000, -2px -2px 0 #00ffff; */
  position: relative;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  user-select: none;
  -webkit-user-drag: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #2e2e2e;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
