@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Song+Myung&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --background: #1e1e1e;
  --infoBackground: rgb(34, 34, 34);
  --foreground: white;
  --labeltext: lightgray;
  --divider-color: #ddd;
  --input-bg: rgba(255, 255, 255, 0.45);
  --line-color: rgba(255, 255, 255, 0.5);
  --myPageSticky-color: rgb(80, 80, 80);
  --active-color: white;
  --title-color: rgb(146, 146, 146);
  --post-color: rgb(255, 255, 255);
  --btn-color: rgb(188, 188, 210);
  --before-color: rgb(220, 220, 220);
  --after-color: rgb(179, 179, 179);
  --swiper-btn: #ffffff;
  --swiper-btn-dis: #828282;
  --btn-color: rgba(255, 255, 255, 0.982);
  --btn-hover: #ffffff;
  --font-color: rgb(255, 255, 255);
  --btn-text-color: black;
  --loading: white;
  --box-shadow: rgba(0, 0, 0, 0.8);
}

.light-mode {
  --background: #ffffff;
  --infoBackground: rgb(255, 255, 255);
  --foreground: #171717;
  --labeltext: #171717;
  --divider-color: #171717;
  --input-bg: rgba(0, 0, 0, 0.3);
  --line-color: rgba(0, 0, 0, 0.5);
  --myPageSticky-color: rgb(173, 173, 173);
  --active-color: rgb(56, 56, 56);
  --title-color: rgb(100, 100, 100);
  --post-color: rgb(220, 220, 220);
  --before-color: rgb(60, 60, 60);
  --after-color: rgb(112, 112, 112);
  --btn-color: rgb(163, 172, 60);
  --swiper-btn: #000000;
  --swiper-btn-dis: #b7b7b7;
  --btn-color: rgb(242, 243, 235);
  --font-color: rgb(0, 0, 0);
  --btn-hover: #ffffff;
  --loading: blue;
  --box-shadow: rgba(0, 0, 0, 0.2);
}

/* 폰트 */
.GlitchFont {
  font-family: "Black Han Sans", sans-serif;
  color: #262626;
  position: relative;
}

.nomalFont {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500px;
  font-style: normal;
}

.mainFont {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 900 !important;
  font-style: normal;
  color: var(--foreground) !important;
  font-size: 50px;
}

@media (max-width: 768px) {
  .mainFont {
    font-size: 45px;
  }
}

@media (max-width: 630px) {
  .mainFont {
    font-size: 40px;
  }
}

@media (max-width: 580px) {
  .mainFont {
    font-size: 35px;
  }
}

@media (max-width: 390px) {
  .mainFont {
    font-size: 30px;
  }
}

/* Button {
  background-color: var(--btn-color) !important;
  color: var(--btn-text-color) !important;
}

button:hover,
button:focus {
  background-color: var(--btn-hover) !important;
  color: var(--btn-text-color) !important;
} */

/* 로딩 */
.loadingColor .ant-spin-dot-item {
  background-color: var(--loading);
}

/* 로그인 폼  */
.loginForm-container {
  background-color: var(--background);
}

.loginForm-container input,
.loginForm-container input ::placeholder {
  color: var(--title-color) !important;
}

.joinagree-check,
.join-text {
  color: var(--font-color) !important;
}

.loginform-socialtext,
.loginForm-findDiv {
  color: var(--title-color);
}

.loginForm-container input:hover,
.loginForm-container input:focus {
  background-color: var(--input-bg);
  color: var(--title-color);
}

/* 상세 페이지 */
.detail-title {
  color: var(--font-color);
}

html,
body {
  max-width: 100vw;
  user-select: none;
  -webkit-user-drag: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
}

body {
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrap {
  margin-top: 70px;
}

@media (max-width: 768px) {
  .main-wrap {
    margin-top: 30px;
  }
}

/* 로그인 폼 */
.divider hr {
  background-color: var(--divider-color);
}

.join-div label {
  color: var(--labeltext);
}

.loginForm-textDiv,
.loginForm-idDiv,
.PwFind-idDiv,
.IdFind-idDiv,
.divider span {
  color: var(--foreground);
}

.loginForm-findDiv,
.PwFind-findDiv,
.IdFind-findDiv {
  color: gray;
}

input::placeholder {
  color: gray !important;
  opacity: 0.7;
}

/* 내 계정 */
.line {
  background-color: var(--line-color);
}

.myPageSticky {
  color: var(--myPageSticky-color);
}

.active,
.cursor.active {
  color: var(--active-color) !important;
}

.cursor::after {
  background-color: var(--active-color);
}

.title,
.cursor:hover:not(.active) {
  color: var(--title-color) !important;
}

.inputContainer {
  box-shadow: 0 4px 12px var(--box-shadow);
}

.myAccountBack .main-container,
.myPageBack {
  background-color: var(--infoBackground) !important;
}

/* 헤더 */
.main-container,
.main-wrapfooter,
.loading {
  background-color: var(--background);
}

.main-wrapfooter {
  color: var(--labeltext);
}

.toggleBtn div {
  background-color: var(--before-color);
}

.toggleBtn div::before {
  background-color: var(--before-color);
}

.toggleBtn div::after {
  background-color: var(--after-color);
}

/* 알림 */
.modalFoot {
  margin-top: 8px;
  font-size: 13px;
  color: rgb(157, 157, 157);
}

/* soonProduct */
.swiper-button-prev,
.swiper-button-next {
  color: var(--swiper-btn) !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  color: var(--swiper-btn-dis) !important;
  cursor: not-allowed;
}

/* AllProduct */
.product-card {
  box-shadow: 2px 2px 10px var(--box-shadow);
}

/* 등급 별 게시글 */
.grade-tab {
  color: gray;
}

.grade-tab::after {
  background-color: gray;
}

.grade-tab.selected {
  color: var(--foreground);
}

.grade-tab.selected::after {
  background-color: var(--foreground);
}

/* 글 작성하기 */
.writeBtn {
  background-color: rgba(255, 255, 255, 0) !important;
  border-color: var(--foreground) !important;
}

.writeBtn:hover {
  background-color: var(--active-color) !important;
}

.writeBtn:hover .mainFont {
  color: var(--background) !important;
}

.writeBtn .mainFont {
  color: var(--foreground) !important;
}

/* 내 게시글 */
.postsInfo {
  background-color: var(--post-color);
}

.postLine {
  border-left: var(--background);
}

.circle {
  background-color: var(--background);
}

/* 관심 상품 */
.product-info {
  background-color: white;
  color: black;
}

/* 결제 성공, 실패 */
.payment-title {
  color: var(--foreground);
}

/* 전체 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: unset !important;
  font-weight: inherit !important;
}

p {
  margin-bottom: 0 !important;
}

/* 모달창 */
.Modal {
  max-height: 70vh;
  overflow-y: auto;
  /* scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.6) transparent; */
  scrollbar-width: none;
  -ms-overflow-style: none;
  border-radius: 7px;
}

.ant-modal .ant-btn {
  border: 1px solid #d1d1d1 !important;
  box-shadow: none !important;
  background-color: transparent !important;
  color: #000 !important;
}

.ant-modal .ant-btn:hover,
.ant-modal .ant-btn:focus {
  border: 1px solid #d1d1d1 !important;
  box-shadow: none !important;
  background-color: #f3f3f3 !important;
}

.ant-select-focused .ant-select-selector,
.selectCard:hover .ant-select-selector {
  border: 1px solid #d1d1d1 !important;
  box-shadow: none !important;
}

.ant-input:focus,
.ant-input:hover {
  border: 1px solid #d1d1d1 !important;
  box-shadow: none !important;
  background-color: transparent;
}

/* 환불 모달창 */
.refund-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  padding: 0 10px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-group label {
  width: 120px;
}

.selectCard {
  margin-left: -20px;
  width: 450px;
}

.currentPoint {
  margin-top: -5px !important;
}

/* 충전 모달창 */
.pointInput {
  margin-top: 20px !important;
}

/* 토글 */
.toggleInfo {
  background-color: var(--background);
  color: var(--labeltext) !important;
}

.toggleTexts h3:hover {
  color: var(--after-color);
}

/* Tooltip 내부 */
.ant-tooltip-inner {
  background-color: #ffffff !important;
  border: 1px solid #d9d9d9 !important;
  color: #7b7b7b !important;
  padding: 10px !important;
}

.ant-tooltip-arrow::before {
  background-color: #ffffff !important;
}

.pTag {
  font-size: 13px;
  margin: 5px 0;
}

.custom-tooltip .ant-tooltip-inner {
  width: 400px !important;
}

/* footer 폰트 */
.textsInfo {
  font-family: "Song Myung", serif;
  font-weight: 400;
  font-style: normal;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
